<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">thomas</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/mydb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="hibernate/Operationsdb.hbm.xml" />
        <mapping resource="hibernate/Actionsdb.hbm.xml" />
        <mapping resource="hibernate/Tooltype.hbm.xml" />
        <mapping resource="hibernate/Elements.hbm.xml" />
        <mapping resource="hibernate/Toolparameters.hbm.xml" />
        <mapping resource="hibernate/Parametersdb.hbm.xml" />
        <mapping resource="hibernate/Tasksdb.hbm.xml" />
        <mapping resource="hibernate/Toolsdb.hbm.xml" />
        <mapping resource="hibernate/Part.hbm.xml" />
        <mapping resource="hibernate/Processdb.hbm.xml" />
        <mapping resource="hibernate/Sensors.hbm.xml" />
        <mapping resource="hibernate/Resourcesdb.hbm.xml" />
        <mapping resource="hibernate/Assemblyline.hbm.xml" />
        <mapping resource="hibernate/Shopfloor.hbm.xml" />
        <mapping resource="hibernate/Assemblystation.hbm.xml" />
        <mapping resource="hibernate/Workingareadb.hbm.xml" />
    </session-factory>
</hibernate-configuration>
